<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic,vietnamese" rel="stylesheet">
</head>
<body>

<div th:replace="navi/menu"></div>
<div class="bg-secondary">
<div class="jumbotron jumbotron-fluid bg-secondary">
    <div class="container">
        <h1 class="display-4">Witamy w restauracji "FARADENZA"!</h1>
        <p class="lead">U nas zawsze świeże jedzenie, tanio i szybko!</p>
    </div>
</div>

<div class="album bg-secondary">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="card mb-5 shadow-sm">
                    <img class="card-img-top" th:src="@{images/american.jpg}" alt="Card image cap" height="320" width="100">
                    <div class="card-body">
                        <h3>Kuchnia Amerykańska</h3>
                        <p class="card-text">Dania prosto za oceanu!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            <a href="/menu/category/kuchniaamerykańska">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz menu</button>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-5 shadow-sm">
                    <img class="card-img-top" th:src="@{images/asia.jpg}" alt="Card image cap" height="320" width="100">
                    <div class="card-body">
                        <h3>Kuchnia Azjatycka</h3>
                        <p class="card-text">Stawonogi, robaki z Japońskich ulic!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/menu/category/azjatycka">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz menu</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>
            <div class="col-md-6">
                <div class="card mb-5 shadow-sm">
                    <img class="card-img-top" th:src="@{images/italia.jpg}" alt="Card image cap" height="320" width="100">
                    <div class="card-body">
                        <h3>Kuchnia Włoska</h3>
                        <p class="card-text">Posmakuj smaków znad morza!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/menu/category/włoska">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz menu</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-5 shadow-sm">
                    <img class="card-img-top" th:src="@{images/meksyk.jpg}" alt="Card image cap" height="320" width="100">
                    <div class="card-body">
                        <h3>Kuchnia Meksykańska</h3>
                        <p class="card-text">Ostre smaki zawinięte w pszenne placki!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/menu/category/meksykańska">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz menu</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-6">
                <div class="card mb-5 shadow-sm">
                    <img class="card-img-top" th:src="@{images/pizza.jpg}" alt="Card image cap" height="320" width="100">
                    <div class="card-body">
                        <h3>Pizze</h3>
                        <p class="card-text">Co chcesz! Jak chcesz!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/menu/category/pizze">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz menu</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-5 shadow-sm">
                    <img class="card-img-top" th:src="@{images/drinks.jpg}" alt="Card image cap" height="320" width="100">
                    <div class="card-body">
                        <h3>Drinki</h3>
                        <p class="card-text">Spragniony?</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/menu/category/drinki">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz menu</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    <div class="container">
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Gwarancja jakości!</h2>
            <p class="lead">Najlepsza jakość, zawsze świeże produkty!</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" th:src="@{images/quality.jpg}" height="500" width="500" alt="Generic placeholder image">
        </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Dostawa zawsze na czas!</h2>
            <p class="lead">Punktualność to nasza zasada!</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" th:src="@{images/dostawa2.jpg}" height="500" width="500" alt="Generic placeholder image">
        </div>
    </div>
    </div>
   <br>
    <footer class="container">
        <p class="float-right"><a href="#">Do góry</a></p>
        <p>&copy; 2018 Daniel Belter, Jędrzej Babło </p>
    </footer>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
   integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
   crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
   integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
   crossorigin="anonymous"></script>

</body>
</html>