<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic,vietnamese" rel="stylesheet">
    <link href="images">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Strona główna<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Kuchnia Amerykańska</a>
                    <a class="dropdown-item" href="#">Kuchnia Azjatycka</a>
                    <a class="dropdown-item" href="#">Kuchnia Włoska</a>
                    <a class="dropdown-item" href="#">Kuchnia Meksykańska</a>
                    <a class="dropdown-item" href="#">Pizze</a>
                    <a class="dropdown-item" href="#">Drinki</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">O nas<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Kontakt<span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Wpisz frazę" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
        </form>
    </div>
</nav>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" th:src="@{images/american.jpg}" alt="Card image cap" height="250" width="100">
                    <div class="card-body">
                        <h3>Kuchnia Amerykańska</h3>
                        <p class="card-text">Dania prosto za oceanu!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz menu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" th:src="@{images/asia.jpg}" alt="Card image cap" height="250" width="100">
                    <div class="card-body">
                        <h3>Kuchnia Azjatycka</h3>
                        <p class="card-text">Stawonogi, robaki z Japońskich ulic!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz menu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" th:src="@{images/italia.jpg}" alt="Card image cap" height="250" width="100">
                    <div class="card-body">
                        <h3>Kuchnia Włoska</h3>
                        <p class="card-text">Posmakuj smaków znad morza!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz menu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" th:src="@{images/meksyk.jpg}" alt="Card image cap" height="250" width="100">
                    <div class="card-body">
                        <h3>Kuchnia Meksykańska</h3>
                        <p class="card-text">Ostre smaki zawinięte w pszenne placki!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz menu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" th:src="@{images/pizza.jpg}" alt="Card image cap" height="250" width="100">
                    <div class="card-body">
                        <h3>Pizze</h3>
                        <p class="card-text">Co chcesz! Jak chcesz!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz menu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" th:src="@{images/drinks.jpg}" alt="Card image cap" height="250" width="100">
                    <div class="card-body">
                        <h3>Drinki</h3>
                        <p class="card-text">Spragniony?</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz menu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
   integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
   crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
   integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
   crossorigin="anonymous"></script>

<br/><br/>
</body>
</html>